extends layout
block content



    section
        h1= title
        p #{message}
        p #{list[0]._fields}
        form(action='/', method='get')
            +listData(list)
    div.movies
        if(movies)
            each doc in movies.docs
                p #{doc}

    aside
        .sider
            each obj in list
                p.lister
                    span.actor #{obj._fields}