extends layout
block content



  section
    h1= title
    p #{message}
    p #{list[0]._fields}
    +listData(list)

    each obj in list
      p
        | #{obj.keys}
        button(type='button', onclick="alert('#{obj._fields}')") Select

  nav
    each obj in list
      p #{obj._fields}