mixin listData(list)
        select(name='actor')
            each obj, i in list
                actor = #{obj._fields[0]}
                option(value= i) #{obj._fields[0]}
        input(type='submit', id='submit', name='submit')
var pack
mixin movies(index, list)
    h1 Movies with #{list[index]._fields[0]}
    each obj, i in list[index]._fields[1]
        hr
        each item in obj
            each elem in item
                h2 #{elem.title}
                p #{elem.tagline}
        h5 Roles :
        each role, i in obj
            if(i < obj.length -1)
                li= obj[i]

    //each obj, i in list[index]._fields[1]
    //    h5 #{obj[0]}
//    p #{list[index]._fields[1].properties.roles}

//mixin test(index, list)
//    each obj, i in list
//        p #{obj._fields[2]}


doctype html
html
    head
        title= title
        link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
        //link(rel="stylesheet", type="text/css", href=cssUrl("/stylesheets/style"))
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a.navbar-brand WebSiteName
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#') Page 1
                    li
                        a(href='#') Page 2
                    li
                        a(href='#') Page 3

        block content
